.list { 
  margin-top: 0px;
  background-color: #FAFAFA;
  color: black;
  min-height: 60vh;
  max-height: 60vh;
  overflow: scroll;
}

.list-empty {
  background-color: #FAFAFA;
  height: 60vh;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

@media screen and (max-width: 760px){
    .list { 
      min-height: 100vh;
    }
    
    .list-empty {
      min-height: 100vh;
    }
}

.list-cities {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}

.list-element {
  padding: 15px;
  display: flex;
  font-size: 30px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.list-element:hover {
  background-color: #eeeeee;
}

.list-element-active {
  background-color: #f5f5f5;
}

.list-icon {
  color: #FFB03B;
}

.list-city {
  flex-grow: 4;
  justify-content: center;
}

.list-temp {
  min-width: 25%;
  text-align: right;
}

.list-city-detail {
  background-color: #eeeeee;
  padding: 15px;
  box-shadow: inset 0px 0px 5px -3px rgba(66, 68, 90, 1);
}

.card-footer {
  width: 100%;
}
