.error-default {
  color: white;
  position: sticky;
  background-color: #ef5350;  
  padding: 15px 15px 15px 15px;
  display: flex;
  z-index: 10;
}

.error-close {
  text-align: right;
  width: 10%;
}

.error-message {
  width: 90%;
  font-weight: bold
}

.error-display-false {
  display: none;
}

.error-icon {
  cursor: pointer;
}
